pylama-dmypy==0.4
pylama==8.4.1
neovim==0.3.1
tox==4.15.0
isort==5.13.2
python-lsp-server==1.11.0
pyls-isort==0.2.2
python-lsp-black==2.0.0
mslex==1.2.0; sys.platform == 'win32'
hatch==1.11.1
setuptools>=69.0.3; python_version >= '3.12'
